.scroller {
    overflow: hidden;
    .container {
        white-space: nowrap;
        .img-item {
            display: inline-block;
            text-align: center;
            width: 100%;
            img {
                object-fit: contain;
                height: 700px;
            }
        }
    }
    .btn {
        z-index: 2;
        position: absolute;
        background: #000;
        color: #fff;
        font-size: 24px;
        padding: 20px;
        top:50%;
        transform: translateY(-50%);
        &.prev {
            left:0;
        }
        &.next {
            right: 0;
        }
    }
}